<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil</title>
</head>
<body>
    judul:{{judul}}
    <br>
    isi:{{isi}}
    <br>
    nama_instansi:{{nama_instansi}}
    <br>
    <br>
    judul_translated:{{data_translated_en.judul_translated}}
    <br>
    isi_translated:{{data_translated_en.isi_translated}}
    <br>
    instansi_translated:{{data_translated_en.instansi_translated}}
    <br>
    <br>
    judul_translated:{{data_translated_tw.judul_translated}}
    <br>
    isi_translated:{{data_translated_tw.isi_translated}}
    <br>
    instansi_translated:{{data_translated_tw.instansi_translated}}
</body>
</html>