<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>LAPOR!</title>
</head>
<body>
    <div class="container">
        <div class="header-area">
            <div class="navbar-area">
                <img src="{{url_for('static', filename='images/lapor.png')}}"
                    style="float:right;width:150px;height:80px;padding-top: 20px;padding-right: 10px">
            </div>
        </div>
        <div id="login" class="row col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:40px">
            <div class="col-lg-4 ">
                <img class="pic-login-2" src="{{url_for('static', filename='images/pic.svg')}}">
            </div>
            <div class="col-lg-7 login-form" style="padding-left: 90px;">
                <form action="/" method="POST">
                    <h4>Send your report directly to government agencies</h4>
                    <label>Select Language :</label>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" name='input_lang' style="font-size: 15px">
                                <option value="" selected disabled>Input Language</option>
                                <option value="af">Afrikaans</option>
                                <option value="sq">Albanian</option>
                                <option value="am">Amharic - አማርኛ</option>
                                <option value="ar">Arabic - العربية</option>
                                <option value="hy">Armenian - հայերեն</option>
                                <option value="as">Assamese</option>
                                <option value="az">Azerbaijani - azərbaycan dili</option>
                                <option value="ba">Bashkir</option>
                                <option value="eu">Basque - euskara</option>
                                <option value="be">Belarusian - беларуская</option>
                                <option value="bn">Bengali - বাংলা</option>
                                <option value="bs">Bosnian - bosanski</option>
                                <option value="bg">Bulgarian - български</option>
                                <option value="my">Burmese</option>
                                <option value="ca">Catalan - català</option>
                                <option value="ceb">Cebuano</option>
                                <option value="km">Central Khmer</option>
                                <option value="zh">Chinese - 中文</option>
                                <option value="zh-TW">Chinese (Traditional) - 中文（繁體）</option>
                                <option value="cv">Chuvash</option>
                                <option value="hr">Croatian - hrvatski</option>
                                <option value="cs">Czech - čeština</option>
                                <option value="da">Danish - dansk</option>
                                <option value="nl">Dutch - Nederlands</option>
                                <option value="en">English</option>
                                <option value="eo">Esperanto - esperanto</option>
                                <option value="et">Estonian - eesti</option>
                                <option value="fi">Finnish - suomi</option>
                                <option value="fr">French - français</option>
                                <option value="gl">Galician - galego</option>
                                <option value="ka">Georgian - ქართული</option>
                                <option value="de">German - Deutsch</option>
                                <option value="el">Greek - Ελληνικά</option>
                                <option value="gu">Gujarati - ગુજરાતી</option>
                                <option value="ht">Haitian</option>
                                <option value="he">Hebrew - עברית</option>
                                <option value="hi">Hindi - हिन्दी</option>
                                <option value="hu">Hungarian - magyar</option>
                                <option value="is">Icelandic - íslenska</option>
                                <option value="ilo">Iloko</option>
                                <option value="id">Indonesian - Indonesia</option>
                                <option value="ga">Irish - Gaeilge</option>
                                <option value="it">Italian - italiano</option>
                                <option value="ja">Japanese - 日本語</option>
                                <option value="jv">Javanese</option>
                                <option value="kn">Kannada - ಕನ್ನಡ</option>
                                <option value="kk">Kazakh - қазақ тілі</option>
                                <option value="ky">Kirghiz</option>
                                <option value="ko">Korean - 한국어</option>
                                <option value="ku">Kurdish - Kurdî</option>
                                <option value="la">Latin</option>
                                <option value="lv">Latvian - latviešu</option>
                                <option value="lt">Lithuanian - lietuvių</option>
                                <option value="lb">Luxembourgish</option>
                                <option value="mk">Macedonian - македонски</option>
                                <option value="ms">Malay - Bahasa Melayu</option>
                                <option value="ml">Malayalam - മലയാളം</option>
                                <option value="mr">Marathi - मराठी</option>
                                <option value="mn">Mongolian - монгол</option>
                                <option value="ne">Nepali - नेपाली</option>
                                <option value="no">Norwegian - norsk</option>
                                <option value="or">Oriya - ଓଡ଼ିଆ</option>
                                <option value="ps">Pashto - پښتو</option>
                                <option value="fa">Persian - فارسی</option>
                                <option value="pl">Polish - polski</option>
                                <option value="pt">Portuguese - português</option>
                                <option value="pa">Punjabi - ਪੰਜਾਬੀ</option>
                                <option value="qu">Quechua</option>
                                <option value="ro">Romanian - română</option>
                                <option value="ru">Russian - русский</option>
                                <option value="sa">Sanskrit</option>
                                <option value="gd">Scottish Gaelic</option>
                                <option value="sr">Serbian - српски</option>
                                <option value="sd">Sindhi</option>
                                <option value="si">Sinhala - සිංහල</option>
                                <option value="sk">Slovak - slovenčina</option>
                                <option value="sl">Slovenian - slovenščina</option>
                                <option value="so">Somali - Soomaali</option>
                                <option value="es">Spanish - español</option>
                                <option value="su">Sundanese</option>
                                <option value="sw">Swahili - Kiswahili</option>
                                <option value="sv">Swedish - svenska</option>
                                <option value="tl">Tagalog</option>
                                <option value="tg">Tajik - тоҷикӣ</option>
                                <option value="ta">Tamil - தமிழ்</option>
                                <option value="tt">Tatar</option>
                                <option value="te">Telugu - తెలుగు</option>
                                <option value="th">Thai - ไทย</option>
                                <option value="tr">Turkish - Türkçe</option>
                                <option value="tk">Turkmen</option>
                                <option value="uk">Ukrainian - українська</option>
                                <option value="ur">Urdu - اردو</option>
                                <option value="ug">Uyghur</option>
                                <option value="uz">Uzbek - o‘zbek</option>
                                <option value="vi">Vietnamese - Tiếng Việt</option>
                                <option value="cy">Welsh - Cymraeg</option>
                                <option value="yi">Yiddish</option>
                                <option value="yo">Yoruba - Èdè Yorùbá</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name='output_lang' style="font-size: 15px">
                                <option value="" selected disabled>Output Language</option>
                                <option value="af">Afrikaans</option>
                                <option value="sq">Albanian</option>
                                <option value="am">Amharic - አማርኛ</option>
                                <option value="ar">Arabic - العربية</option>
                                <option value="hy">Armenian - հայերեն</option>
                                <option value="as">Assamese</option>
                                <option value="az">Azerbaijani - azərbaycan dili</option>
                                <option value="ba">Bashkir</option>
                                <option value="eu">Basque - euskara</option>
                                <option value="be">Belarusian - беларуская</option>
                                <option value="bn">Bengali - বাংলা</option>
                                <option value="bs">Bosnian - bosanski</option>
                                <option value="bg">Bulgarian - български</option>
                                <option value="my">Burmese</option>
                                <option value="ca">Catalan - català</option>
                                <option value="ceb">Cebuano</option>
                                <option value="km">Central Khmer</option>
                                <option value="zh">Chinese - 中文</option>
                                <option value="zh-TW">Chinese (Traditional) - 中文（繁體）</option>
                                <option value="cv">Chuvash</option>
                                <option value="hr">Croatian - hrvatski</option>
                                <option value="cs">Czech - čeština</option>
                                <option value="da">Danish - dansk</option>
                                <option value="nl">Dutch - Nederlands</option>
                                <option value="en">English</option>
                                <option value="eo">Esperanto - esperanto</option>
                                <option value="et">Estonian - eesti</option>
                                <option value="fi">Finnish - suomi</option>
                                <option value="fr">French - français</option>
                                <option value="gl">Galician - galego</option>
                                <option value="ka">Georgian - ქართული</option>
                                <option value="de">German - Deutsch</option>
                                <option value="el">Greek - Ελληνικά</option>
                                <option value="gu">Gujarati - ગુજરાતી</option>
                                <option value="ht">Haitian</option>
                                <option value="he">Hebrew - עברית</option>
                                <option value="hi">Hindi - हिन्दी</option>
                                <option value="hu">Hungarian - magyar</option>
                                <option value="is">Icelandic - íslenska</option>
                                <option value="ilo">Iloko</option>
                                <option value="id">Indonesian - Indonesia</option>
                                <option value="ga">Irish - Gaeilge</option>
                                <option value="it">Italian - italiano</option>
                                <option value="ja">Japanese - 日本語</option>
                                <option value="jv">Javanese</option>
                                <option value="kn">Kannada - ಕನ್ನಡ</option>
                                <option value="kk">Kazakh - қазақ тілі</option>
                                <option value="ky">Kirghiz</option>
                                <option value="ko">Korean - 한국어</option>
                                <option value="ku">Kurdish - Kurdî</option>
                                <option value="la">Latin</option>
                                <option value="lv">Latvian - latviešu</option>
                                <option value="lt">Lithuanian - lietuvių</option>
                                <option value="lb">Luxembourgish</option>
                                <option value="mk">Macedonian - македонски</option>
                                <option value="ms">Malay - Bahasa Melayu</option>
                                <option value="ml">Malayalam - മലയാളം</option>
                                <option value="mr">Marathi - मराठी</option>
                                <option value="mn">Mongolian - монгол</option>
                                <option value="ne">Nepali - नेपाली</option>
                                <option value="no">Norwegian - norsk</option>
                                <option value="or">Oriya - ଓଡ଼ିଆ</option>
                                <option value="ps">Pashto - پښتو</option>
                                <option value="fa">Persian - فارسی</option>
                                <option value="pl">Polish - polski</option>
                                <option value="pt">Portuguese - português</option>
                                <option value="pa">Punjabi - ਪੰਜਾਬੀ</option>
                                <option value="qu">Quechua</option>
                                <option value="ro">Romanian - română</option>
                                <option value="ru">Russian - русский</option>
                                <option value="sa">Sanskrit</option>
                                <option value="gd">Scottish Gaelic</option>
                                <option value="sr">Serbian - српски</option>
                                <option value="sd">Sindhi</option>
                                <option value="si">Sinhala - සිංහල</option>
                                <option value="sk">Slovak - slovenčina</option>
                                <option value="sl">Slovenian - slovenščina</option>
                                <option value="so">Somali - Soomaali</option>
                                <option value="es">Spanish - español</option>
                                <option value="su">Sundanese</option>
                                <option value="sw">Swahili - Kiswahili</option>
                                <option value="sv">Swedish - svenska</option>
                                <option value="tl">Tagalog</option>
                                <option value="tg">Tajik - тоҷикӣ</option>
                                <option value="ta">Tamil - தமிழ்</option>
                                <option value="tt">Tatar</option>
                                <option value="te">Telugu - తెలుగు</option>
                                <option value="th">Thai - ไทย</option>
                                <option value="tr">Turkish - Türkçe</option>
                                <option value="tk">Turkmen</option>
                                <option value="uk">Ukrainian - українська</option>
                                <option value="ur">Urdu - اردو</option>
                                <option value="ug">Uyghur</option>
                                <option value="uz">Uzbek - o‘zbek</option>
                                <option value="vi">Vietnamese - Tiếng Việt</option>
                                <option value="cy">Welsh - Cymraeg</option>
                                <option value="yi">Yiddish</option>
                                <option value="yo">Yoruba - Èdè Yorùbá</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <label>Title :</label>
                        <textarea type="text" cols="40" rows="2" class="form-control" placeholder="Title"
                        style="font-size: 15px;" name='judul'></textarea>
                    </div>
                    <div class="form-group">
                        <label>Content :</label>
                        <textarea type="text" cols="40" rows="3" class="form-control" placeholder="Content"
                        style="font-size: 15px;" name='isi'></textarea>
                    </div>
                    <div class="login-btn">
                        <button class="btn btn-primary" type="submit" value="Submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>